@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        width: 90%;
        padding: 20px;
    }

    img {
        width: 150px;
    }
}


body {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 24, 46);
    font-family: sans-serif;
    transition: 0.4s;
    text-align: center;
    padding-top: 50px;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #333;
}

.modo-oscuro {
    background-color: #1a1a1a;
    color: #f1f1f1;
}

.modo-oscuro button {
    border-color: #f1f1f1;
    background-color: #333;
    color: white;
}

#profilePic {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#footer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);

    font-style: italic;
}
