body {
    font-family: "Oswald", sans-serif; /* Tipografía básica */
    background-color: #EFC69B; /* Fondo claro */
    color: #CCB69B; /* Texto oscuro */
    margin: 0;
    padding: 0;
    transition: 0.4s; /* Hace que el cambio de color sea suave */
}

/* ESTRUCTURA SEMÁNTICA Y BOX MODEL */
header {
    background-color: #AF1B3F;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #473144;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Centramos el contenido principal con Flexbox */
main {
    padding: 40px;
    display: flex;
    justify-content: center; 
}

/* Las "Tarjetas" de contenido */
section {
    background-color: #473144;
    width: 600px; /* Ancho fijo para controlar la caja */
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    border: 1px solid #3C6E71;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Sombra estilo polaroid */
    text-align: center;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 25%; /* Círculo perfecto */
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.4s ease;
    
}

img:hover {
    transform: scale(1.08);

}

.icon
{
    max-width: 15px;
    border-color: #f5f5f5;
}


h1 {
    color: #BCDADC; /* Texto Azul */
}

nav ul {
    list-style: none; /* Quitamos las viñetas */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre los links */
}

nav a {
    text-decoration: none; /* Quitamos la línea de abajo del link */
    color: #BCDADC;
    font-weight: bold;
}

nav a:hover {
    color: #F1A7B9; /* Efecto al pasar el mouse */
}


button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}

.modo-oscuro {
    background-color: #1a1a1a;
    color: #ffffff;
}

.modo-oscuro header,
.modo-oscuro section,
.modo-oscuro footer {
    background-color: #333333;
    border-color: #555555;
}

.modo-oscuro h1, 
.modo-oscuro nav a:hover {
    color: #38bdf8; 
}

.modo-oscuro a {
    color: #ffffff; /* Los links se vuelven blancos en modo oscuro */
}


#sobre-mi {
  text-align: left;
}

.sobre-mi-layout {
  display: block; /* ya no usamos flex aquí */
}

.sobre-mi-texto {
  position: relative;
}

.sobre-mi-media {
  flex: 1;                    
  display: flex;
  justify-content: center;    
}

.sobre-mi-img {
  width: 220px;
  height: auto;
  border-radius: 25%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.4s ease;

  float: right;            
  margin: 0 0 12px 18px;   
}
.sobre-mi-img:hover img {
    transform: scale(1.08);
}

#portafolio {
    text-align: center;
}

.grid-portafolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.proyecto {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.proyecto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.4s ease;
}

.proyecto:hover img {
    transform: scale(1.08);
}

@media(max-width: 768px)
{

    .grid-portafolio {
        grid-template-columns: repeat(2, 1fr);
    }

    .proyecto img {
        height: 160px;
    }

    header{
        flex-direction: column;
        gap: 15 px;
        padding: 20px;
    }

    nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    section{
        width: 90%;
        padding: 20px;
    }
    img{
        width: 150px;
    }

    #sobre-mi .sobre-mi-img {
    width: 150px;
    float: right;
    margin: 0 0 10px 14px;
  }

  #sobre-mi p {
    line-height: 1.5;
  }
}